@import "font/proxima/100";
@import "font/proxima/400";
@import "font/proxima/500";
@import "font/proxima/700";

body {
    overscroll-behavior-x: none !important;
    overscroll-behavior-y: none !important;
    overscroll-behavior: none !important;
    overflow-x:hidden;
}


.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently not supported by any browser */
}


.toasted-container,
.application {
    font-family: "font-proxima";



    .v-btn {
        letter-spacing: 0.1em;
        font-weight: 700;
        box-shadow: none !important;
        max-width: 100%;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: normal;

        @media(max-width: 768px) {
          .v-btn__content {
            white-space: normal;
            max-width: 100%;
            line-height: 1.2;
          }
        }
    }
}