@import './variables';

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently not supported by any browser */
}

html {
    height: 100%;
    overscroll-behavior-x: none !important;
    overscroll-behavior-y: none !important;
    overscroll-behavior: none !important;
}




body {
    overscroll-behavior-x: none !important;
    overscroll-behavior-y: none !important;
    overscroll-behavior: none !important;
    // overflow: hidden;
    height: 100%;
    // border: 10px solid red;
    // padding: 10px;
}

 .scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}


.toasted-container,
.application {
    font-family: "font-proxima";


    pre {
        background: rgba(#000, 0.05);
        padding: 10px;
        margin:10px;
    }
    
    //////////////////////////////////////////

    h1, .h1 {
        font-size: 3em;

    }

    h2, .h2 {
        font-size: 2em;
    }

    h3, .h3 {
        font-size: 1.5em;
    }

    h4, .h4 {
        font-size: 1.3em;
    }

    h5, .h5 {
        font-size: 1.2em;
    }

    h6, .h6 {
        font-size: 1.1em;
    }


    $headings: 'h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6';

    #{$headings} {
        //Affect all headings here
        letter-spacing: -0.03em;
    }

    //////////////////////////////////////////

    .xl {
        font-size: 1.4em;
    }

    .lg {
        font-size: 1.2em;
    }

    .sm {
        font-size: 0.8em;
    }

    .xs {
        font-size: 0.6em;
    }


    //////////////////////////////////////////

    .v-btn {
        letter-spacing: 0.1em;
        font-weight: 700;
        box-shadow: none !important;
        max-width: 100%;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: normal;
        .v-btn__content {
            line-height: 1;
        }

        @media(max-width: 768px) {
          .v-btn__content {
            white-space: normal;
            max-width: 100%;
            line-height: 1.2;
          }
        }
    }


    blockquote {
        padding: 3%;
        margin:2%;
        border-left: 3px solid primary;
        background: rgba(#000, 0.05);
    }


    .footer {


        a {
            color:inherit;
            text-decoration:none;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }
}