// @import './variables';

html {
    height: 100%;
    overscroll-behavior-x: none !important;
    overscroll-behavior-y: none !important;
    overscroll-behavior: none !important;


    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    height: calc(100% + (var(--safe-area-inset-top) + var(--safe-area-inset-bottom)));



}

body {
    overscroll-behavior-x: none !important;
    overscroll-behavior-y: none !important;
    overscroll-behavior: none !important;
    overflow: hidden;
    height: 100%;
    // border: 10px solid red;
    // padding: 10px;
}



.v-dialog--active {
    display: flex;
    background: #fff;
    // @extends .scroll-y;
    // -webkit-overflow-scrolling: touch !important;
}

.v-btn--icon svg[lg] {
    font-size: 20px !important;
}


.v-menu__content {
    @extend .scroll-y;
}

@media(max-width: 768px) {

    .v-autocomplete,
    .v-select {
        .v-menu__content {
            overflow:hidden;
            box-shadow: 0 0 100vh 100px rgba(0, 0, 0, 0.5);
            display: flex;
            background: #fff;
            position: fixed !important;
            left: 0 !important;
            right: 0 !important;
            top:auto !important;
            bottom: 0 !important;
            width: 100% !important;
            max-width: 100% !important;
            max-height: 50vh !important;
            flex-direction: column;

            .v-card {
                flex:1;
    -webkit-overflow-scrolling: touch;
                overflow-y: auto;
                overflow-x:hidden;
            }


            &:before {
                content: 'Please select';
                padding: 10px;
                display: block;
                font-size: 0.9em;
                color: #777;
                background: #eee;
                display: block;
                flex:none;
            }


        }
    }
}




table th {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}


.form-group {
    &>label {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.05em;
        font-size: 0.7em;
    }
}


// .v-label {
//     font-weight: 500;
//     // letter-spacing: 0.03em;
//     // text-transform: uppercase;
//     // &.v-label--active {
//     //     opacity: 0.5;
//     //     font-size: 14px;
//     // }
// }

.v-overlay {
    z-index: 15 !important;
}





.fa-spin {
    -webkit-animation: fa-spin 0.3s infinite linear;
    animation: fa-spin 0.3s infinite linear;
}

.application {
    @supports (-moz-appearance: none) {
        height: 100%;
    }
}


.tippy-popper {
    .tippy-tooltip {
        padding: 5px 10px;
        font-size: 13px;
    }
}

.toasted-container,
.application {
    font-family: "font-proxima";


    .application-title {
        // padding: 0 15px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        max-width: 300px;
        letter-spacing: 0.05em;
    }


    pre {
        background: rgba(#000, 0.05);
        padding: 10px;
        margin: 10px;
    }

    .application--wrap {
        // border: 10px solid red !important;
        min-height: -webkit-fill-available !important;
        height: -webkit-fill-available !important;
        flex-direction: row;

        .main-content {
            flex: 1;
            display: flex;
            transition: all 0.3s;

            &.faded {
                opacity: 0.3;
            }
        }
    }




    //////////////////////////////////////////

    .v-btn {
        // letter-spacing: 0.07em;
        // font-weight: 700;
        text-transform: none;
        box-shadow: none !important;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;

        &.v-btn--small {
            height: 30px !important;
            line-height: 30px;
        }


        .v-btn__content {
            line-height: 1;
            // text-transform: none;
        }

        @media(max-width: 960px) {
            .v-btn__content {
                white-space: normal;
                max-width: 100%;
                line-height: 1.2;
            }
        }

        svg[right] {
            margin-left: 10px;
        }
    }


    blockquote {
        padding: 3%;
        margin: 2%;
        border-left: 3px solid primary;
        background: rgba(#000, 0.05);
    }




    .main-content {
        // margin-top: 64px;
        // padding-top: 0 !important;
        // height: calc(100% - 64px);
        overflow: hidden;


        &>.v-content__wrap {
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
    }


    // @media(max-width: 960px) {
    //     .main-content {
    //         margin-top: 56px;
    //         height: calc(100vh - 56px);
    //     }
    // }



    .footer {

        &.drawer {
            margin-left: 300px;

            &.mini {
                margin-left: 80px;
            }
        }

        a {
            color: inherit;
            text-decoration: none;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }
}



.subnav {
    background: #eee;
    width: 200px;
}




.search {
    position: relative;

    input {
        border: 1px solid #f5f5f5;
        width: 100%;
        background: #f5f5f5; //#eee;

        border-radius: 2px;
        height: 30px;
        line-height: 30px;
        padding: 0 30px 0 5px;
        display: inline-block;

        &:focus {
            outline: none;
            border: 1px solid #ddd;
        }
    }

    .search-icon {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        line-height: 34px;
        height: 30px;
        width: 30px;
        text-align: center;
    }

    &.active {
        input {
            border-color: $primary;
        }
    }
}


.filter-sidebar {
    width: 100%;

    flex: none;
    background: #eee;

    @media(min-width: 769px) {
        max-width: 450px;
    }
}




.tab-menu {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    // background: #f0f0f0;

    // border: 10px solid pink;
    a {
        flex: 1;
        margin: 0;
        border-radius: 0;
        padding: 0;
        line-height: 35px;
        font-size: 15px;
        color: inherit;
        padding: 10px;
        text-align: center;
        opacity: 0.5;
        border-top: 3px solid transparent;
        text-decoration: none !important;
        text-transform: uppercase;
        ;
        letter-spacing: 0.03em;
        font-weight: 500;

        &.router-link-exact-active {
            opacity: 1;
            background: #fff;
            border-top: 3px solid $primary;
            text-decoration: none !important;
        }
    }
}