


//Import your font
// @import 'font/proxima/100'
@import 'font/proxima/400'
@import 'font/proxima/500'
@import 'font/proxima/700'
// @import 'font/proxima/800'
// @import 'font/proxima/900'

//////////////////////////////////////////////////////////////

//Modify the variables for vuetify
$body-font-family = 'font-proxima'
body
	font-family: $body-font-family


// $font-size-root =  100px;

//////////////////////////////////////////////////////////////

//Import the Vuetify Styles
@import '../../node_modules/vuetify/src/stylus/app'
@import '../../node_modules/vuetify/src/stylus/components/*'


//////////////////////////////////////////////////////////////

//Any Vuetify Overrides here






